<div class="page-header">
  <h4>Appointments</h4>
</div>
<table class="table table-wuxia">
  <thead>
    <tr>
      <th>Doctor Name</th>
      <th>Pet</th>
      <th>Appointment Date Time</th>
      <th>Reason for visit</th>
    </tr>
  </thead>
  <% @appointments.each do |appointment| %>
    <tr>
      <td>
        <%= appointment.doctor.name %>
      </td>
      <td>
        <%= appointment.pet %>
      </td>
      <td>
        <%= appointment.date_of_visit.strftime('%A - %b %d, %Y at %H:%M %p') %>
      </td>
      <td><%= appointment.reason_for_visit %></td>

    </tr>
  <% end %>
</table>
<br/>


<%= link_to "Book New appointment", "/receptionists/new_appointment" %>